/* здесь стили для app */
html,
body {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(229deg, #23EAC6 23.12%, rgba(233, 162, 26, 0.81) 83.98%);
}

html{
    font-family: "Roboto", sans-serif;
}